/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
  transition: 0.2s;
}
.footerrrr{
  color:white;
}
.footer {
  background: linear-gradient(to right, black, black);
  color: #fff;
  padding: 30px 0;
}

.footer-heading-span {
  color: aqua;
  
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 20%;
  padding: 0 15px;
}

.column p {
  font-size: 18px;
}

.column h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  font-size: 17px;
}

.column img {
  border-radius: 50%;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
  transition: transform 0.2s, color 0.2s;
}

.social-icons a:hover {
  transform: translateX(-5px);
  color: #0033ff;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
}

a:hover {
  color: gold;
  font-weight: 600;
}

hr {
  border-top: 1px solid white;
  width: 50%;
  margin: 20px auto;
}
.paraaa{
  color:white;
  font-size: 10px;
}
.copyright {
  text-align: center;
}

.copyright span {
  color: red;
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
    opacity: 0;
  }
  50% {
    transform: rotate(-45deg) scale(1.3);
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
}

@media only screen and (min-width: 330px) and (max-width: 990px) {
  .column {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }

  .column:nth-child(2) {
    margin-top: 102px;
  }

  .column:nth-child(5) {
    width: 100%;
  }

  .footer-heading-span {
    margin-left: 0;
    text-align: center;
    font-size: 24px;
  }

  hr {
    width: 80%;
  }
}

@media only screen and (max-width: 320px) {
  .column {
    width: 100%;
  }

  .footer-heading-span {
    font-size: 24px;
  }

  .column:nth-child(5) {
    width: 100%;
  }

  hr {
    width: 80%;
  }
}